<form role="form">
  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="subject" class="form-control" id="subject" ng-model="config.subject" placeholder="Enter subject">
    <label for="cube">Cube</label>
    <input type="cube" class="form-control" id="cube" ng-model="config.cube" placeholder="Enter cube">
	<label for="measure">Measure</label>
    <input type="measure" class="form-control" id="measure" ng-model="config.measure" placeholder="Enter measure">
	<label for="filters">Filters</label>
    <input type="filters" class="form-control" id="filters" ng-model="config.filters" placeholder="Enter filters">
  </div>
</form>